@import "shadow";

/***** Layout *****/

html {
    overflow: hidden;
}

header {
    position: relative !important;
}

#wrapper {
    height: 100vh;
}

.content-wrapper {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.scrollable-content {
    display: flex;
    overflow-y: auto;
    min-height: 0px;
}
/***** *****/

.players_list {
    @extend %shadow-1-dp;
    // padding: 15px;
    border: 1px solid #efefef;
}

.d-flex {
    display: "flex";
}

.d-flex-direction-col {
    flex-direction: column;
}

.d-flex-1 {
    flex: 1;
}

.card-holder.normal {
    width: 5rem;
}

.card-holder.big {
    width: 9rem;
}

.icon-holder.small {
    width: 1rem;
}

.fullwidth {
    width: 100%;
}

.current_player {
    border: 0.1rem solid red !important;
  }