@import "shadow";

/***** Layout *****/

html {
  overflow: hidden;
}

header {
  position: relative !important;
}

#wrapper {
  height: 100vh;
}

.content-wrapper {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.scrollable-content {
  display: flex;
  overflow-y: auto;
  min-height: 0px;
}
/***** *****/

.players_list {
  .section {
    margin: 0.2rem;
    padding: 0.2rem;
  }
}

.card-holder.normal {
  width: 5rem;
}

.card-holder.big {
  width: 9rem;
}

.icon-holder.small {
  width: 1rem;
}

.fullwidth {
  width: 100%;
}

.current_player {
  border: 0.1rem solid red !important;
}

.section {
  @extend %shadow-4-dp;
  border: 0.1rem solid #efefef;
  padding: 0.5rem;
}

p-l-1 {
  padding-left:1rem;
}